---
import { certificates } from "../data/certificates.js";

const { title, description, image, link } = certificates;
---

<section id="certificates">
    <h2>Certificates</h2>

    <ul class="card-list">
        <li>
            <article class="card">
                <a href={link} target="_blank">
                    <img
                        src={image}
                        alt="Description"
                        loading="lazy"
                        width="201"
                        height="103"
                    />
                    <h3>{title}</h3>
                    <p>{description}</p>
                </a>
            </article>
        </li>
    </ul>
</section>
<style>
    #certificates {
        .card-list {
            display: grid;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
    .card {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--secundary-background-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
        img {
            border-radius: 10px;
            margin-bottom: 15px;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        h3 {
            margin: 10px 0;
            font-size: 1.3em;
        }
        p {
            font-size: 1em;
            color: var(--text-color);
            margin-bottom: 15px;
        }
        a {
            text-decoration: none;
            color: var(--primary-color);
        }
    }

    @media (max-width: 640px) {
        .card {
            width: 13rem;
        }
    }
</style>
