---
const base = import.meta.env.BASE_URL;
---

<section id="education">
  <h2>Education</h2>
  <div class="education-data">
    <picture>
      <img src={`${base}feup.svg`} alt="feup logo" width="50" height="50" />
    </picture>
    <ul class="college">
      <li class="college-item">
        <h3>Faculdade de Engenharia da Universidade do Porto</h3>
        <span class="college-date">2015 - 2020</span>
        <p>Master in Electrical and Computer Engineer</p>
      </li>
    </ul>
  </div>
</section>

<style>
  #education {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .education-data {
      display:flex;
      flex-direction:row;

      .college {
        list-style: none;
        margin: 0;
        padding: 0;
        .college-item {
          position: relative;
          margin-bottom: 20px;
          padding-left: 30px;
        }
      }
    }
  }
  h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }
  .college-date {
    display: block;
    font-size: 0.9em;
    color: var(--text-color);
    margin-bottom: 10px;
    opacity: 0.7;
  }
  p {
    margin: 5px 0;
    font-size: 1em;
    color: var(--text-color);
  }
</style>
